<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My First Template</title>

    <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript">
      //alert("Hello world");
    </script>
  </head>
  <body>

    <div class="container">

      <div class="row-fluid">

        <div class="span2">
          <div id="menu-content" >
            <ul class="nav nav-list ">
              <li>
                <a href="#">Home</a>
              </li>
            </ul>

          </div>
        </div>

        <div id="main-content" class="span9">
          Main content of the application
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

    <script src="/assets/lib/jquery-1.10.0.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/javascripts/zme.js"></script>

  </body>
</html>
